.mush {
  /* white-space: pre; */
  font-family: Fixed, monospace;
  font-size: 10pt;
}

.mush SPAN.bg_x { background-color: #000000; }
.mush SPAN.bg_r { background-color: #CC0000; }
.mush SPAN.bg_g { background-color: #00CC00; }
.mush SPAN.bg_y { background-color: #CCCC00; }
.mush SPAN.bg_b { background-color: #0000CC; }
.mush SPAN.bg_m { background-color: #CC00CC; }
.mush SPAN.bg_c { background-color: #00CCCC; }
.mush SPAN.bg_w { background-color: #FFFFFF; }

.mush STRONG { color: #CCCCCC; font-weight: normal; }

.mush SPAN.fg_x { color: #000000; }
.mush SPAN.fg_r { color: #CC0000; }
.mush SPAN.fg_g { color: #00CC00; }
.mush SPAN.fg_y { color: #CCCC00; }
.mush SPAN.fg_b { color: #0000CC; }
.mush SPAN.fg_m { color: #CC00CC; }
.mush SPAN.fg_c { color: #00CCCC; }
.mush SPAN.fg_w { color: #FFFFFF; }

.mush STRONG SPAN.fg_x { color: #999999; }
.mush STRONG SPAN.fg_r { color: #FF0000; }
.mush STRONG SPAN.fg_g { color: #00FF00; }
.mush STRONG SPAN.fg_y { color: #FFFF00; }
.mush STRONG SPAN.fg_b { color: #0000FF; }
.mush STRONG SPAN.fg_m { color: #FF00FF; }
.mush STRONG SPAN.fg_c { color: #00FFFF; }
.mush STRONG SPAN.fg_w { color: #CCCCCC; }

/* INVERTED colors. */
.mush SPAN.invert SPAN.bg_x { color: #000000; }
.mush SPAN.invert SPAN.bg_r { color: #CC0000; }
.mush SPAN.invert SPAN.bg_g { color: #00CC00; }
.mush SPAN.invert SPAN.bg_y { color: #CCCC00; }
.mush SPAN.invert SPAN.bg_b { color: #0000CC; }
.mush SPAN.invert SPAN.bg_m { color: #CC00CC; }
.mush SPAN.invert SPAN.bg_c { color: #00CCCC; }
.mush SPAN.invert SPAN.bg_w { color: #FFFFFF; }

.mush SPAN.invert STRONG { background-color: #000000; }

.mush SPAN.invert SPAN.fg_x { background-color: #000000; }
.mush SPAN.invert SPAN.fg_r { background-color: #CC0000; }
.mush SPAN.invert SPAN.fg_g { background-color: #00CC00; }
.mush SPAN.invert SPAN.fg_y { background-color: #CCCC00; }
.mush SPAN.invert SPAN.fg_b { background-color: #0000CC; }
.mush SPAN.invert SPAN.fg_m { background-color: #CC00CC; }
.mush SPAN.invert SPAN.fg_c { background-color: #00CCCC; }
.mush SPAN.invert SPAN.fg_w { background-color: #FFFFFF; }

.mush SPAN.invert STRONG SPAN.fg_x { background-color: #999999; }
.mush SPAN.invert STRONG SPAN.fg_r { background-color: #FF0000; }
.mush SPAN.invert STRONG SPAN.fg_g { background-color: #00FF00; }
.mush SPAN.invert STRONG SPAN.fg_y { background-color: #FFFF00; }
.mush SPAN.invert STRONG SPAN.fg_b { background-color: #0000FF; }
.mush SPAN.invert STRONG SPAN.fg_m { background-color: #FF00FF; }
.mush SPAN.invert STRONG SPAN.fg_c { background-color: #00FFFF; }
.mush SPAN.invert STRONG SPAN.fg_w { background-color: #CCCCCC; }
