.mush {
  /* white-space: pre; */
  font-family: Fixed, monospace;
  font-size: 10pt;
}

.mush SPAN.bg_x { background-color: #000000; }
.mush SPAN.bg_r { background-color: #CC0000; }
.mush SPAN.bg_g { background-color: #00CC00; }
.mush SPAN.bg_y { background-color: #CCCC00; }
.mush SPAN.bg_b { background-color: #0000CC; }
.mush SPAN.bg_m { background-color: #CC00CC; }
.mush SPAN.bg_c { background-color: #00CCCC; }
.mush SPAN.bg_w { background-color: #FFFFFF; }

.mush STRONG { color: #CCCCCC; font-weight: normal; }

.mush SPAN.fg_x { color: #000000; }
.mush SPAN.fg_r { color: #CC0000; }
.mush SPAN.fg_g { color: #00CC00; }
.mush SPAN.fg_y { color: #CCCC00; }
.mush SPAN.fg_b { color: #0000CC; }
.mush SPAN.fg_m { color: #CC00CC; }
.mush SPAN.fg_c { color: #00CCCC; }
.mush SPAN.fg_w { color: #FFFFFF; }

.mush STRONG SPAN.fg_x { color: #999999; }
.mush STRONG SPAN.fg_r { color: #FF0000; }
.mush STRONG SPAN.fg_g { color: #00FF00; }
.mush STRONG SPAN.fg_y { color: #FFFF00; }
.mush STRONG SPAN.fg_b { color: #0000FF; }
.mush STRONG SPAN.fg_m { color: #FF00FF; }
.mush STRONG SPAN.fg_c { color: #00FFFF; }
.mush STRONG SPAN.fg_w { color: #CCCCCC; }

/* INVERTED colors. */
.mush SPAN.invert SPAN.bg_x { color: #000000; }
.mush SPAN.invert SPAN.bg_r { color: #CC0000; }
.mush SPAN.invert SPAN.bg_g { color: #00CC00; }
.mush SPAN.invert SPAN.bg_y { color: #CCCC00; }
.mush SPAN.invert SPAN.bg_b { color: #0000CC; }
.mush SPAN.invert SPAN.bg_m { color: #CC00CC; }
.mush SPAN.invert SPAN.bg_c { color: #00CCCC; }
.mush SPAN.invert SPAN.bg_w { color: #FFFFFF; }

.mush SPAN.invert STRONG { background-color: #000000; }

.mush SPAN.invert SPAN.fg_x { background-color: #000000; }
.mush SPAN.invert SPAN.fg_r { background-color: #CC0000; }
.mush SPAN.invert SPAN.fg_g { background-color: #00CC00; }
.mush SPAN.invert SPAN.fg_y { background-color: #CCCC00; }
.mush SPAN.invert SPAN.fg_b { background-color: #0000CC; }
.mush SPAN.invert SPAN.fg_m { background-color: #CC00CC; }
.mush SPAN.invert SPAN.fg_c { background-color: #00CCCC; }
.mush SPAN.invert SPAN.fg_w { background-color: #FFFFFF; }

.mush SPAN.invert STRONG SPAN.fg_x { background-color: #999999; }
.mush SPAN.invert STRONG SPAN.fg_r { background-color: #FF0000; }
.mush SPAN.invert STRONG SPAN.fg_g { background-color: #00FF00; }
.mush SPAN.invert STRONG SPAN.fg_y { background-color: #FFFF00; }
.mush SPAN.invert STRONG SPAN.fg_b { background-color: #0000FF; }
.mush SPAN.invert STRONG SPAN.fg_m { background-color: #FF00FF; }
.mush SPAN.invert STRONG SPAN.fg_c { background-color: #00FFFF; }
.mush SPAN.invert STRONG SPAN.fg_w { background-color: #CCCCCC; }

.mush SPAN.fg_0 { color: #000000; }
.mush SPAN.fg_1 { color: #800000; }
.mush SPAN.fg_2 { color: #008000; }
.mush SPAN.fg_3 { color: #808000; }
.mush SPAN.fg_4 { color: #000080; }
.mush SPAN.fg_5 { color: #800080; }
.mush SPAN.fg_6 { color: #008080; }
.mush SPAN.fg_7 { color: #c0c0c0; }
.mush SPAN.fg_8 { color: #808080; }
.mush SPAN.fg_9 { color: #ff0000; }
.mush SPAN.fg_10 { color: #00ff00; }
.mush SPAN.fg_11 { color: #ffff00; }
.mush SPAN.fg_12 { color: #0000ff; }
.mush SPAN.fg_13 { color: #ff00ff; }
.mush SPAN.fg_14 { color: #00ffff; }
.mush SPAN.fg_15 { color: #ffffff; }
.mush SPAN.fg_16 { color: #000000; }
.mush SPAN.fg_17 { color: #00005f; }
.mush SPAN.fg_18 { color: #000087; }
.mush SPAN.fg_19 { color: #0000af; }
.mush SPAN.fg_20 { color: #0000d7; }
.mush SPAN.fg_21 { color: #0000ff; }
.mush SPAN.fg_22 { color: #005f00; }
.mush SPAN.fg_23 { color: #005f5f; }
.mush SPAN.fg_24 { color: #005f87; }
.mush SPAN.fg_25 { color: #005faf; }
.mush SPAN.fg_26 { color: #005fd7; }
.mush SPAN.fg_27 { color: #005fff; }
.mush SPAN.fg_28 { color: #008700; }
.mush SPAN.fg_29 { color: #00875f; }
.mush SPAN.fg_30 { color: #008787; }
.mush SPAN.fg_31 { color: #0087af; }
.mush SPAN.fg_32 { color: #0087d7; }
.mush SPAN.fg_33 { color: #0087ff; }
.mush SPAN.fg_34 { color: #00af00; }
.mush SPAN.fg_35 { color: #00af5f; }
.mush SPAN.fg_36 { color: #00af87; }
.mush SPAN.fg_37 { color: #00afaf; }
.mush SPAN.fg_38 { color: #00afd7; }
.mush SPAN.fg_39 { color: #00afff; }
.mush SPAN.fg_40 { color: #00d700; }
.mush SPAN.fg_41 { color: #00d75f; }
.mush SPAN.fg_42 { color: #00d787; }
.mush SPAN.fg_43 { color: #00d7af; }
.mush SPAN.fg_44 { color: #00d7d7; }
.mush SPAN.fg_45 { color: #00d7ff; }
.mush SPAN.fg_46 { color: #00ff00; }
.mush SPAN.fg_47 { color: #00ff5f; }
.mush SPAN.fg_48 { color: #00ff87; }
.mush SPAN.fg_49 { color: #00ffaf; }
.mush SPAN.fg_50 { color: #00ffd7; }
.mush SPAN.fg_51 { color: #00ffff; }
.mush SPAN.fg_52 { color: #5f0000; }
.mush SPAN.fg_53 { color: #5f005f; }
.mush SPAN.fg_54 { color: #5f0087; }
.mush SPAN.fg_55 { color: #5f00af; }
.mush SPAN.fg_56 { color: #5f00d7; }
.mush SPAN.fg_57 { color: #5f00ff; }
.mush SPAN.fg_58 { color: #5f5f00; }
.mush SPAN.fg_59 { color: #5f5f5f; }
.mush SPAN.fg_60 { color: #5f5f87; }
.mush SPAN.fg_61 { color: #5f5faf; }
.mush SPAN.fg_62 { color: #5f5fd7; }
.mush SPAN.fg_63 { color: #5f5fff; }
.mush SPAN.fg_64 { color: #5f8700; }
.mush SPAN.fg_65 { color: #5f875f; }
.mush SPAN.fg_66 { color: #5f8787; }
.mush SPAN.fg_67 { color: #5f87af; }
.mush SPAN.fg_68 { color: #5f87d7; }
.mush SPAN.fg_69 { color: #5f87ff; }
.mush SPAN.fg_70 { color: #5faf00; }
.mush SPAN.fg_71 { color: #5faf5f; }
.mush SPAN.fg_72 { color: #5faf87; }
.mush SPAN.fg_73 { color: #5fafaf; }
.mush SPAN.fg_74 { color: #5fafd7; }
.mush SPAN.fg_75 { color: #5fafff; }
.mush SPAN.fg_76 { color: #5fd700; }
.mush SPAN.fg_77 { color: #5fd75f; }
.mush SPAN.fg_78 { color: #5fd787; }
.mush SPAN.fg_79 { color: #5fd7af; }
.mush SPAN.fg_80 { color: #5fd7d7; }
.mush SPAN.fg_81 { color: #5fd7ff; }
.mush SPAN.fg_82 { color: #5fff00; }
.mush SPAN.fg_83 { color: #5fff5f; }
.mush SPAN.fg_84 { color: #5fff87; }
.mush SPAN.fg_85 { color: #5fffaf; }
.mush SPAN.fg_86 { color: #5fffd7; }
.mush SPAN.fg_87 { color: #5fffff; }
.mush SPAN.fg_88 { color: #870000; }
.mush SPAN.fg_89 { color: #87005f; }
.mush SPAN.fg_90 { color: #870087; }
.mush SPAN.fg_91 { color: #8700af; }
.mush SPAN.fg_92 { color: #8700d7; }
.mush SPAN.fg_93 { color: #8700ff; }
.mush SPAN.fg_94 { color: #875f00; }
.mush SPAN.fg_95 { color: #875f5f; }
.mush SPAN.fg_96 { color: #875f87; }
.mush SPAN.fg_97 { color: #875faf; }
.mush SPAN.fg_98 { color: #875fd7; }
.mush SPAN.fg_99 { color: #875fff; }
.mush SPAN.fg_100 { color: #878700; }
.mush SPAN.fg_101 { color: #87875f; }
.mush SPAN.fg_102 { color: #878787; }
.mush SPAN.fg_103 { color: #8787af; }
.mush SPAN.fg_104 { color: #8787d7; }
.mush SPAN.fg_105 { color: #8787ff; }
.mush SPAN.fg_106 { color: #87af00; }
.mush SPAN.fg_107 { color: #87af5f; }
.mush SPAN.fg_108 { color: #87af87; }
.mush SPAN.fg_109 { color: #87afaf; }
.mush SPAN.fg_110 { color: #87afd7; }
.mush SPAN.fg_111 { color: #87afff; }
.mush SPAN.fg_112 { color: #87d700; }
.mush SPAN.fg_113 { color: #87d75f; }
.mush SPAN.fg_114 { color: #87d787; }
.mush SPAN.fg_115 { color: #87d7af; }
.mush SPAN.fg_116 { color: #87d7d7; }
.mush SPAN.fg_117 { color: #87d7ff; }
.mush SPAN.fg_118 { color: #87ff00; }
.mush SPAN.fg_119 { color: #87ff5f; }
.mush SPAN.fg_120 { color: #87ff87; }
.mush SPAN.fg_121 { color: #87ffaf; }
.mush SPAN.fg_122 { color: #87ffd7; }
.mush SPAN.fg_123 { color: #87ffff; }
.mush SPAN.fg_124 { color: #af0000; }
.mush SPAN.fg_125 { color: #af005f; }
.mush SPAN.fg_126 { color: #af0087; }
.mush SPAN.fg_127 { color: #af00af; }
.mush SPAN.fg_128 { color: #af00d7; }
.mush SPAN.fg_129 { color: #af00ff; }
.mush SPAN.fg_130 { color: #af5f00; }
.mush SPAN.fg_131 { color: #af5f5f; }
.mush SPAN.fg_132 { color: #af5f87; }
.mush SPAN.fg_133 { color: #af5faf; }
.mush SPAN.fg_134 { color: #af5fd7; }
.mush SPAN.fg_135 { color: #af5fff; }
.mush SPAN.fg_136 { color: #af8700; }
.mush SPAN.fg_137 { color: #af875f; }
.mush SPAN.fg_138 { color: #af8787; }
.mush SPAN.fg_139 { color: #af87af; }
.mush SPAN.fg_140 { color: #af87d7; }
.mush SPAN.fg_141 { color: #af87ff; }
.mush SPAN.fg_142 { color: #afaf00; }
.mush SPAN.fg_143 { color: #afaf5f; }
.mush SPAN.fg_144 { color: #afaf87; }
.mush SPAN.fg_145 { color: #afafaf; }
.mush SPAN.fg_146 { color: #afafd7; }
.mush SPAN.fg_147 { color: #afafff; }
.mush SPAN.fg_148 { color: #afd700; }
.mush SPAN.fg_149 { color: #afd75f; }
.mush SPAN.fg_150 { color: #afd787; }
.mush SPAN.fg_151 { color: #afd7af; }
.mush SPAN.fg_152 { color: #afd7d7; }
.mush SPAN.fg_153 { color: #afd7ff; }
.mush SPAN.fg_154 { color: #afff00; }
.mush SPAN.fg_155 { color: #afff5f; }
.mush SPAN.fg_156 { color: #afff87; }
.mush SPAN.fg_157 { color: #afffaf; }
.mush SPAN.fg_158 { color: #afffd7; }
.mush SPAN.fg_159 { color: #afffff; }
.mush SPAN.fg_160 { color: #d70000; }
.mush SPAN.fg_161 { color: #d7005f; }
.mush SPAN.fg_162 { color: #d70087; }
.mush SPAN.fg_163 { color: #d700af; }
.mush SPAN.fg_164 { color: #d700d7; }
.mush SPAN.fg_165 { color: #d700ff; }
.mush SPAN.fg_166 { color: #d75f00; }
.mush SPAN.fg_167 { color: #d75f5f; }
.mush SPAN.fg_168 { color: #d75f87; }
.mush SPAN.fg_169 { color: #d75faf; }
.mush SPAN.fg_170 { color: #d75fd7; }
.mush SPAN.fg_171 { color: #d75fff; }
.mush SPAN.fg_172 { color: #d78700; }
.mush SPAN.fg_173 { color: #d7875f; }
.mush SPAN.fg_174 { color: #d78787; }
.mush SPAN.fg_175 { color: #d787af; }
.mush SPAN.fg_176 { color: #d787d7; }
.mush SPAN.fg_177 { color: #d787ff; }
.mush SPAN.fg_178 { color: #d7af00; }
.mush SPAN.fg_179 { color: #d7af5f; }
.mush SPAN.fg_180 { color: #d7af87; }
.mush SPAN.fg_181 { color: #d7afaf; }
.mush SPAN.fg_182 { color: #d7afd7; }
.mush SPAN.fg_183 { color: #d7afff; }
.mush SPAN.fg_184 { color: #d7d700; }
.mush SPAN.fg_185 { color: #d7d75f; }
.mush SPAN.fg_186 { color: #d7d787; }
.mush SPAN.fg_187 { color: #d7d7af; }
.mush SPAN.fg_188 { color: #d7d7d7; }
.mush SPAN.fg_189 { color: #d7d7ff; }
.mush SPAN.fg_190 { color: #d7ff00; }
.mush SPAN.fg_191 { color: #d7ff5f; }
.mush SPAN.fg_192 { color: #d7ff87; }
.mush SPAN.fg_193 { color: #d7ffaf; }
.mush SPAN.fg_194 { color: #d7ffd7; }
.mush SPAN.fg_195 { color: #d7ffff; }
.mush SPAN.fg_196 { color: #ff0000; }
.mush SPAN.fg_197 { color: #ff005f; }
.mush SPAN.fg_198 { color: #ff0087; }
.mush SPAN.fg_199 { color: #ff00af; }
.mush SPAN.fg_200 { color: #ff00d7; }
.mush SPAN.fg_201 { color: #ff00ff; }
.mush SPAN.fg_202 { color: #ff5f00; }
.mush SPAN.fg_203 { color: #ff5f5f; }
.mush SPAN.fg_204 { color: #ff5f87; }
.mush SPAN.fg_205 { color: #ff5faf; }
.mush SPAN.fg_206 { color: #ff5fd7; }
.mush SPAN.fg_207 { color: #ff5fff; }
.mush SPAN.fg_208 { color: #ff8700; }
.mush SPAN.fg_209 { color: #ff875f; }
.mush SPAN.fg_210 { color: #ff8787; }
.mush SPAN.fg_211 { color: #ff87af; }
.mush SPAN.fg_212 { color: #ff87d7; }
.mush SPAN.fg_213 { color: #ff87ff; }
.mush SPAN.fg_214 { color: #ffaf00; }
.mush SPAN.fg_215 { color: #ffaf5f; }
.mush SPAN.fg_216 { color: #ffaf87; }
.mush SPAN.fg_217 { color: #ffafaf; }
.mush SPAN.fg_218 { color: #ffafd7; }
.mush SPAN.fg_219 { color: #ffafff; }
.mush SPAN.fg_220 { color: #ffd700; }
.mush SPAN.fg_221 { color: #ffd75f; }
.mush SPAN.fg_222 { color: #ffd787; }
.mush SPAN.fg_223 { color: #ffd7af; }
.mush SPAN.fg_224 { color: #ffd7d7; }
.mush SPAN.fg_225 { color: #ffd7ff; }
.mush SPAN.fg_226 { color: #ffff00; }
.mush SPAN.fg_227 { color: #ffff5f; }
.mush SPAN.fg_228 { color: #ffff87; }
.mush SPAN.fg_229 { color: #ffffaf; }
.mush SPAN.fg_230 { color: #ffffd7; }
.mush SPAN.fg_231 { color: #ffffff; }
.mush SPAN.fg_232 { color: #080808; }
.mush SPAN.fg_233 { color: #121212; }
.mush SPAN.fg_234 { color: #1c1c1c; }
.mush SPAN.fg_235 { color: #262626; }
.mush SPAN.fg_236 { color: #303030; }
.mush SPAN.fg_237 { color: #3a3a3a; }
.mush SPAN.fg_238 { color: #444444; }
.mush SPAN.fg_239 { color: #4e4e4e; }
.mush SPAN.fg_240 { color: #585858; }
.mush SPAN.fg_241 { color: #626262; }
.mush SPAN.fg_242 { color: #6c6c6c; }
.mush SPAN.fg_243 { color: #767676; }
.mush SPAN.fg_244 { color: #808080; }
.mush SPAN.fg_245 { color: #8a8a8a; }
.mush SPAN.fg_246 { color: #949494; }
.mush SPAN.fg_247 { color: #9e9e9e; }
.mush SPAN.fg_248 { color: #a8a8a8; }
.mush SPAN.fg_249 { color: #b2b2b2; }
.mush SPAN.fg_250 { color: #bcbcbc; }
.mush SPAN.fg_251 { color: #c6c6c6; }
.mush SPAN.fg_252 { color: #d0d0d0; }
.mush SPAN.fg_253 { color: #dadada; }
.mush SPAN.fg_254 { color: #e4e4e4; }
.mush SPAN.fg_255 { color: #eeeeee; }

.mush SPAN.bg_0 { background-color: #000000; }
.mush SPAN.bg_1 { background-color: #800000; }
.mush SPAN.bg_2 { background-color: #008000; }
.mush SPAN.bg_3 { background-color: #808000; }
.mush SPAN.bg_4 { background-color: #000080; }
.mush SPAN.bg_5 { background-color: #800080; }
.mush SPAN.bg_6 { background-color: #008080; }
.mush SPAN.bg_7 { background-color: #c0c0c0; }
.mush SPAN.bg_8 { background-color: #808080; }
.mush SPAN.bg_9 { background-color: #ff0000; }
.mush SPAN.bg_10 { background-color: #00ff00; }
.mush SPAN.bg_11 { background-color: #ffff00; }
.mush SPAN.bg_12 { background-color: #0000ff; }
.mush SPAN.bg_13 { background-color: #ff00ff; }
.mush SPAN.bg_14 { background-color: #00ffff; }
.mush SPAN.bg_15 { background-color: #ffffff; }
.mush SPAN.bg_16 { background-color: #000000; }
.mush SPAN.bg_17 { background-color: #00005f; }
.mush SPAN.bg_18 { background-color: #000087; }
.mush SPAN.bg_19 { background-color: #0000af; }
.mush SPAN.bg_20 { background-color: #0000d7; }
.mush SPAN.bg_21 { background-color: #0000ff; }
.mush SPAN.bg_22 { background-color: #005f00; }
.mush SPAN.bg_23 { background-color: #005f5f; }
.mush SPAN.bg_24 { background-color: #005f87; }
.mush SPAN.bg_25 { background-color: #005faf; }
.mush SPAN.bg_26 { background-color: #005fd7; }
.mush SPAN.bg_27 { background-color: #005fff; }
.mush SPAN.bg_28 { background-color: #008700; }
.mush SPAN.bg_29 { background-color: #00875f; }
.mush SPAN.bg_30 { background-color: #008787; }
.mush SPAN.bg_31 { background-color: #0087af; }
.mush SPAN.bg_32 { background-color: #0087d7; }
.mush SPAN.bg_33 { background-color: #0087ff; }
.mush SPAN.bg_34 { background-color: #00af00; }
.mush SPAN.bg_35 { background-color: #00af5f; }
.mush SPAN.bg_36 { background-color: #00af87; }
.mush SPAN.bg_37 { background-color: #00afaf; }
.mush SPAN.bg_38 { background-color: #00afd7; }
.mush SPAN.bg_39 { background-color: #00afff; }
.mush SPAN.bg_40 { background-color: #00d700; }
.mush SPAN.bg_41 { background-color: #00d75f; }
.mush SPAN.bg_42 { background-color: #00d787; }
.mush SPAN.bg_43 { background-color: #00d7af; }
.mush SPAN.bg_44 { background-color: #00d7d7; }
.mush SPAN.bg_45 { background-color: #00d7ff; }
.mush SPAN.bg_46 { background-color: #00ff00; }
.mush SPAN.bg_47 { background-color: #00ff5f; }
.mush SPAN.bg_48 { background-color: #00ff87; }
.mush SPAN.bg_49 { background-color: #00ffaf; }
.mush SPAN.bg_50 { background-color: #00ffd7; }
.mush SPAN.bg_51 { background-color: #00ffff; }
.mush SPAN.bg_52 { background-color: #5f0000; }
.mush SPAN.bg_53 { background-color: #5f005f; }
.mush SPAN.bg_54 { background-color: #5f0087; }
.mush SPAN.bg_55 { background-color: #5f00af; }
.mush SPAN.bg_56 { background-color: #5f00d7; }
.mush SPAN.bg_57 { background-color: #5f00ff; }
.mush SPAN.bg_58 { background-color: #5f5f00; }
.mush SPAN.bg_59 { background-color: #5f5f5f; }
.mush SPAN.bg_60 { background-color: #5f5f87; }
.mush SPAN.bg_61 { background-color: #5f5faf; }
.mush SPAN.bg_62 { background-color: #5f5fd7; }
.mush SPAN.bg_63 { background-color: #5f5fff; }
.mush SPAN.bg_64 { background-color: #5f8700; }
.mush SPAN.bg_65 { background-color: #5f875f; }
.mush SPAN.bg_66 { background-color: #5f8787; }
.mush SPAN.bg_67 { background-color: #5f87af; }
.mush SPAN.bg_68 { background-color: #5f87d7; }
.mush SPAN.bg_69 { background-color: #5f87ff; }
.mush SPAN.bg_70 { background-color: #5faf00; }
.mush SPAN.bg_71 { background-color: #5faf5f; }
.mush SPAN.bg_72 { background-color: #5faf87; }
.mush SPAN.bg_73 { background-color: #5fafaf; }
.mush SPAN.bg_74 { background-color: #5fafd7; }
.mush SPAN.bg_75 { background-color: #5fafff; }
.mush SPAN.bg_76 { background-color: #5fd700; }
.mush SPAN.bg_77 { background-color: #5fd75f; }
.mush SPAN.bg_78 { background-color: #5fd787; }
.mush SPAN.bg_79 { background-color: #5fd7af; }
.mush SPAN.bg_80 { background-color: #5fd7d7; }
.mush SPAN.bg_81 { background-color: #5fd7ff; }
.mush SPAN.bg_82 { background-color: #5fff00; }
.mush SPAN.bg_83 { background-color: #5fff5f; }
.mush SPAN.bg_84 { background-color: #5fff87; }
.mush SPAN.bg_85 { background-color: #5fffaf; }
.mush SPAN.bg_86 { background-color: #5fffd7; }
.mush SPAN.bg_87 { background-color: #5fffff; }
.mush SPAN.bg_88 { background-color: #870000; }
.mush SPAN.bg_89 { background-color: #87005f; }
.mush SPAN.bg_90 { background-color: #870087; }
.mush SPAN.bg_91 { background-color: #8700af; }
.mush SPAN.bg_92 { background-color: #8700d7; }
.mush SPAN.bg_93 { background-color: #8700ff; }
.mush SPAN.bg_94 { background-color: #875f00; }
.mush SPAN.bg_95 { background-color: #875f5f; }
.mush SPAN.bg_96 { background-color: #875f87; }
.mush SPAN.bg_97 { background-color: #875faf; }
.mush SPAN.bg_98 { background-color: #875fd7; }
.mush SPAN.bg_99 { background-color: #875fff; }
.mush SPAN.bg_100 { background-color: #878700; }
.mush SPAN.bg_101 { background-color: #87875f; }
.mush SPAN.bg_102 { background-color: #878787; }
.mush SPAN.bg_103 { background-color: #8787af; }
.mush SPAN.bg_104 { background-color: #8787d7; }
.mush SPAN.bg_105 { background-color: #8787ff; }
.mush SPAN.bg_106 { background-color: #87af00; }
.mush SPAN.bg_107 { background-color: #87af5f; }
.mush SPAN.bg_108 { background-color: #87af87; }
.mush SPAN.bg_109 { background-color: #87afaf; }
.mush SPAN.bg_110 { background-color: #87afd7; }
.mush SPAN.bg_111 { background-color: #87afff; }
.mush SPAN.bg_112 { background-color: #87d700; }
.mush SPAN.bg_113 { background-color: #87d75f; }
.mush SPAN.bg_114 { background-color: #87d787; }
.mush SPAN.bg_115 { background-color: #87d7af; }
.mush SPAN.bg_116 { background-color: #87d7d7; }
.mush SPAN.bg_117 { background-color: #87d7ff; }
.mush SPAN.bg_118 { background-color: #87ff00; }
.mush SPAN.bg_119 { background-color: #87ff5f; }
.mush SPAN.bg_120 { background-color: #87ff87; }
.mush SPAN.bg_121 { background-color: #87ffaf; }
.mush SPAN.bg_122 { background-color: #87ffd7; }
.mush SPAN.bg_123 { background-color: #87ffff; }
.mush SPAN.bg_124 { background-color: #af0000; }
.mush SPAN.bg_125 { background-color: #af005f; }
.mush SPAN.bg_126 { background-color: #af0087; }
.mush SPAN.bg_127 { background-color: #af00af; }
.mush SPAN.bg_128 { background-color: #af00d7; }
.mush SPAN.bg_129 { background-color: #af00ff; }
.mush SPAN.bg_130 { background-color: #af5f00; }
.mush SPAN.bg_131 { background-color: #af5f5f; }
.mush SPAN.bg_132 { background-color: #af5f87; }
.mush SPAN.bg_133 { background-color: #af5faf; }
.mush SPAN.bg_134 { background-color: #af5fd7; }
.mush SPAN.bg_135 { background-color: #af5fff; }
.mush SPAN.bg_136 { background-color: #af8700; }
.mush SPAN.bg_137 { background-color: #af875f; }
.mush SPAN.bg_138 { background-color: #af8787; }
.mush SPAN.bg_139 { background-color: #af87af; }
.mush SPAN.bg_140 { background-color: #af87d7; }
.mush SPAN.bg_141 { background-color: #af87ff; }
.mush SPAN.bg_142 { background-color: #afaf00; }
.mush SPAN.bg_143 { background-color: #afaf5f; }
.mush SPAN.bg_144 { background-color: #afaf87; }
.mush SPAN.bg_145 { background-color: #afafaf; }
.mush SPAN.bg_146 { background-color: #afafd7; }
.mush SPAN.bg_147 { background-color: #afafff; }
.mush SPAN.bg_148 { background-color: #afd700; }
.mush SPAN.bg_149 { background-color: #afd75f; }
.mush SPAN.bg_150 { background-color: #afd787; }
.mush SPAN.bg_151 { background-color: #afd7af; }
.mush SPAN.bg_152 { background-color: #afd7d7; }
.mush SPAN.bg_153 { background-color: #afd7ff; }
.mush SPAN.bg_154 { background-color: #afff00; }
.mush SPAN.bg_155 { background-color: #afff5f; }
.mush SPAN.bg_156 { background-color: #afff87; }
.mush SPAN.bg_157 { background-color: #afffaf; }
.mush SPAN.bg_158 { background-color: #afffd7; }
.mush SPAN.bg_159 { background-color: #afffff; }
.mush SPAN.bg_160 { background-color: #d70000; }
.mush SPAN.bg_161 { background-color: #d7005f; }
.mush SPAN.bg_162 { background-color: #d70087; }
.mush SPAN.bg_163 { background-color: #d700af; }
.mush SPAN.bg_164 { background-color: #d700d7; }
.mush SPAN.bg_165 { background-color: #d700ff; }
.mush SPAN.bg_166 { background-color: #d75f00; }
.mush SPAN.bg_167 { background-color: #d75f5f; }
.mush SPAN.bg_168 { background-color: #d75f87; }
.mush SPAN.bg_169 { background-color: #d75faf; }
.mush SPAN.bg_170 { background-color: #d75fd7; }
.mush SPAN.bg_171 { background-color: #d75fff; }
.mush SPAN.bg_172 { background-color: #d78700; }
.mush SPAN.bg_173 { background-color: #d7875f; }
.mush SPAN.bg_174 { background-color: #d78787; }
.mush SPAN.bg_175 { background-color: #d787af; }
.mush SPAN.bg_176 { background-color: #d787d7; }
.mush SPAN.bg_177 { background-color: #d787ff; }
.mush SPAN.bg_178 { background-color: #d7af00; }
.mush SPAN.bg_179 { background-color: #d7af5f; }
.mush SPAN.bg_180 { background-color: #d7af87; }
.mush SPAN.bg_181 { background-color: #d7afaf; }
.mush SPAN.bg_182 { background-color: #d7afd7; }
.mush SPAN.bg_183 { background-color: #d7afff; }
.mush SPAN.bg_184 { background-color: #d7d700; }
.mush SPAN.bg_185 { background-color: #d7d75f; }
.mush SPAN.bg_186 { background-color: #d7d787; }
.mush SPAN.bg_187 { background-color: #d7d7af; }
.mush SPAN.bg_188 { background-color: #d7d7d7; }
.mush SPAN.bg_189 { background-color: #d7d7ff; }
.mush SPAN.bg_190 { background-color: #d7ff00; }
.mush SPAN.bg_191 { background-color: #d7ff5f; }
.mush SPAN.bg_192 { background-color: #d7ff87; }
.mush SPAN.bg_193 { background-color: #d7ffaf; }
.mush SPAN.bg_194 { background-color: #d7ffd7; }
.mush SPAN.bg_195 { background-color: #d7ffff; }
.mush SPAN.bg_196 { background-color: #ff0000; }
.mush SPAN.bg_197 { background-color: #ff005f; }
.mush SPAN.bg_198 { background-color: #ff0087; }
.mush SPAN.bg_199 { background-color: #ff00af; }
.mush SPAN.bg_200 { background-color: #ff00d7; }
.mush SPAN.bg_201 { background-color: #ff00ff; }
.mush SPAN.bg_202 { background-color: #ff5f00; }
.mush SPAN.bg_203 { background-color: #ff5f5f; }
.mush SPAN.bg_204 { background-color: #ff5f87; }
.mush SPAN.bg_205 { background-color: #ff5faf; }
.mush SPAN.bg_206 { background-color: #ff5fd7; }
.mush SPAN.bg_207 { background-color: #ff5fff; }
.mush SPAN.bg_208 { background-color: #ff8700; }
.mush SPAN.bg_209 { background-color: #ff875f; }
.mush SPAN.bg_210 { background-color: #ff8787; }
.mush SPAN.bg_211 { background-color: #ff87af; }
.mush SPAN.bg_212 { background-color: #ff87d7; }
.mush SPAN.bg_213 { background-color: #ff87ff; }
.mush SPAN.bg_214 { background-color: #ffaf00; }
.mush SPAN.bg_215 { background-color: #ffaf5f; }
.mush SPAN.bg_216 { background-color: #ffaf87; }
.mush SPAN.bg_217 { background-color: #ffafaf; }
.mush SPAN.bg_218 { background-color: #ffafd7; }
.mush SPAN.bg_219 { background-color: #ffafff; }
.mush SPAN.bg_220 { background-color: #ffd700; }
.mush SPAN.bg_221 { background-color: #ffd75f; }
.mush SPAN.bg_222 { background-color: #ffd787; }
.mush SPAN.bg_223 { background-color: #ffd7af; }
.mush SPAN.bg_224 { background-color: #ffd7d7; }
.mush SPAN.bg_225 { background-color: #ffd7ff; }
.mush SPAN.bg_226 { background-color: #ffff00; }
.mush SPAN.bg_227 { background-color: #ffff5f; }
.mush SPAN.bg_228 { background-color: #ffff87; }
.mush SPAN.bg_229 { background-color: #ffffaf; }
.mush SPAN.bg_230 { background-color: #ffffd7; }
.mush SPAN.bg_231 { background-color: #ffffff; }
.mush SPAN.bg_232 { background-color: #080808; }
.mush SPAN.bg_233 { background-color: #121212; }
.mush SPAN.bg_234 { background-color: #1c1c1c; }
.mush SPAN.bg_235 { background-color: #262626; }
.mush SPAN.bg_236 { background-color: #303030; }
.mush SPAN.bg_237 { background-color: #3a3a3a; }
.mush SPAN.bg_238 { background-color: #444444; }
.mush SPAN.bg_239 { background-color: #4e4e4e; }
.mush SPAN.bg_240 { background-color: #585858; }
.mush SPAN.bg_241 { background-color: #626262; }
.mush SPAN.bg_242 { background-color: #6c6c6c; }
.mush SPAN.bg_243 { background-color: #767676; }
.mush SPAN.bg_244 { background-color: #808080; }
.mush SPAN.bg_245 { background-color: #8a8a8a; }
.mush SPAN.bg_246 { background-color: #949494; }
.mush SPAN.bg_247 { background-color: #9e9e9e; }
.mush SPAN.bg_248 { background-color: #a8a8a8; }
.mush SPAN.bg_249 { background-color: #b2b2b2; }
.mush SPAN.bg_250 { background-color: #bcbcbc; }
.mush SPAN.bg_251 { background-color: #c6c6c6; }
.mush SPAN.bg_252 { background-color: #d0d0d0; }
.mush SPAN.bg_253 { background-color: #dadada; }
.mush SPAN.bg_254 { background-color: #e4e4e4; }
.mush SPAN.bg_255 { background-color: #eeeeee; }

