.colorsel {
  background-color: white;
  color: black;
}
.fuguebox {
  border: 1px solid #333333;
}
.mush {
  border: 1px solid #333333;
}
.mush STRONG {
  color: #333333;
}
.ui-icon-gripsmall-diagonal-se {
  background: black;
}
