Allow from all
AddDefaultCharset UTF-8
DirectoryIndex index.html
RewriteEngine on
# Banana server only handles /action/, that is all we forward, everything
# else is a static file handled by Apache.
RewriteRule ^(/?action.*) http://client.pennmush.org:8088/$1 [P,QSA,L]
RewriteRule ^(/?guest.*) http://client.pennmush.org:8088/$1 [P,QSA,L]
